* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --red-color: #D43131;
    --black-color: #2E2A2A;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--red-color);
    width: 100%;
}

/* header h1 {
    color: #f2f2f2;
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
} */

.appLogo {
    padding-left: 0;
    min-width: 300px;
    max-width: 440px;
}

.speechBubble {
	position: relative;
	background: #f2f2f2;
    border-radius: 4px;
    height: auto;
    font-size: 24px;
    margin-bottom: 40px;
    padding: 20px;
}

.speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #f2f2f2;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.codingHero {
    position: absolute;
    bottom: 0;
    width: 200px;
}

#heroForm {
    margin-top: 10px;
    margin-bottom: 12px;
    padding-left: 0;
    max-width: 500px;
}

#heroSearchInput {
    width: 100%;
    border-radius: 4px;
    background-color: #f2f2f2;
    border: none;
    color: #444;
}

#heroInfo {
    width: 100%;
    margin: 0;
    background-color: #212129;
}

.heroPageNums {
    padding-left: 30px;
}

.userIcon {
    display:none;
}

.heroPageNum {
    background-color: var(--red-color);
    padding: 10px 40px;
    margin: 10px !important;
    color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
}

.heroPageNum:hover {
    background-color: rgb(209, 35, 35);
}

.heroPageNum.active {
    background-color: #f2f2f2;
    color: rgb(209, 35, 35);
    cursor: default;
}

.heroHead {
    margin-top: none;
    padding: 20px;
}

.heroImg {
    padding-left: 0;
}

.heroAbout {
    width: 100%;
    padding: 20px;
    margin: 0;
}

.heroName {
    font-size: 42px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

.infoHeading {
    font-size: 26px;
    color: #7c7c7c;
    margin-bottom: 10px;
    font-family: 'Comic Neue', cursive;
}

.infoContent {
    color: #f2f2f2;
}

.aboutCategory {
    padding: 0 0 20px 20px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #7c7c7c;
}

.heroResult {
    display: none;
    /* max-width: 800px; */
    padding: 0;
    margin: 0 auto!important;
}

.imgContainer {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.audioBtn {
    bottom: 20px;
    right: 20px;
    background-color: var(--red-color);
    padding: 10px;
    border-radius: 38px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #f2f2f2;
    cursor: pointer;
}

.audioBtn:hover {
    color: rgb(121, 252, 245);
}


@media only screen and (max-width: 768px) {
    #heroForm {
        width: 90%;
    }

    .heroImg {
        width: 100%;
        margin-left: 0;
    }    

    #audio {
        width: 240px;
    }
    .aboutCategory {
        padding-left: 0;
    }
}